// COULEUR

// INDEX : ---->

//couleur du header derrière le bouton connexion, des h1 et h2 et des icônes
$color1: #572382;
//couleur du bouton connexion
$color2: #e2007a;
//couleur du texte "Le premier site internet de rencontre à la campagne"
$color3: #97ba0f;
//couleur du texte "Gratuitement et en quelques clics, accédez à votre espace personnel et gérez vos relations comme bon vous semble !"
$color4: #b47fdf;
//background des icones sociales en footer
$color5: #989962;


// MESSAGE ---->

//couleur du texte "Le premier site internet de rencontre à la campagne" et du nombre de messages, visites, etc. en header
$mcolor1: #a3c51d;
//couleur grise des icônes du menu
$mcolor2: #d9d9d9;
//couleur grise du texte de liens menu
$mcolor3: #8e8e8e;
//couleur de la progress bar et des étoiles
$mcolor4: #e2007a;
//couleur de la box d'un message reçu
$mcolor5: #572381;
//couleur de la date du message
$mcolor6: #a542f6;
//couleur de la textarea des messages
$mcolor7: #9a9a9a;